<app-alerts></app-alerts>
<form  style="width: 50%; margin-top:20%; margin-left:30%">

  <mat-card>
  <mat-card-title>Reset Password</mat-card-title>


    <mat-form-field style="width: 100%">
      <input matInput placeholder="Enter New Password" type="password" [formControl]="pwdFormControl" />

      <mat-error *ngIf="pwdFormControl.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 100%">
      <input matInput placeholder="ConfirmPassword" type="password" [formControl]="confirmpwdFormControl" />

      <mat-error *ngIf="confirmpwdFormControl.hasError('required') ">
        Confirm Password is required
      </mat-error>

    </mat-form-field>

    <button
      mat-raised-button
      [disabled]=" pwdFormControl.invalid||confirmpwdFormControl.invalid "
      color="primary"
      (click)="reset()">

      Submit
    </button>

  </mat-card>
</form>

<!-- //// -->





<!-- /////////////////////////////////////////////////////// -->
